<div>
  <md-input-container>
    <input mdInput type="text" placeholder="New Todo" [(ngModel)]="newTodoText" />
  </md-input-container>

  <button color="primary" md-mini-fab type="button" (click)="addNewTodo()"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
<div class="list-content">
    <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>
</div>