// borrowed from https://material.angular.io/guide/theming and modified

@import '~@angular/material/theming';

@include mat-core();

$goal-app-primary: mat-palette($mat-teal);
$goal-app-accent: mat-palette($mat-grey);

$goal-app-warn:    mat-palette($mat-red);

$goal-app-theme: mat-light-theme($goal-app-primary, $goal-app-accent, $goal-app-warn);

@include angular-material-theme($goal-app-theme);
